body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    background-image: url('../img/banner.jpg');
}

.sentuh:hover {
    color: yellow;
}

.aktif {
    color: aqua;
}

.logo {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.jauh-atas {
    margin-top: 500px;
}


.animasi {
    transition: transform 0.5s ease;
}

.animasi:hover {
    transform: translateY(-5px);
}


h2 {
    margin-left: 16px;
    color: rgb(48, 47, 47);
}

.harga {
    margin-left: 16px;
    color: rgb(35, 35, 35);
}

.normal {
    text-decoration: line-through;
    color: grey;
    font-size: 10px;
}

.diskon {
    font-size: 20px;
    color: brown;
    font-weight: bold;
}

.deskripsi {
    margin-left: 16px;
    font-size: 13px;
    color: rgb(43, 42, 42);
}

.tombol {
    display: flex;
    justify-content: space-around;
    padding: 35px;
    border-top: 1px solid rgb(206, 200, 200);
    margin-bottom: 12px;
}

.orang {
    width: 50px;
    border-radius:100px;
    height: 50px;
}

.lokasi {
    width: 80%;
    height: 40%;
    margin-top: 12px;
    padding-left: 50px;
}

.scrolling {
    overflow-x: auto;
    scrollbar-width: none;
}

.img-scroll {
    width: 50px;
    height: 50px;
}



